# Maven build directory 
target/

# SVN related dir's/files
.svn/

# Java related dir'sfiles
*.class
*.jar
*.war
*.ear

# Eclipse related dir's/files
.project
.metadata
.classpath
.settings/
bin/
tmp/

# IntelliJ related dir's/files
*.iml
*.ipr
*.iws
.idea/

# Other temporary dir's/files
logs/